<div id="totals">
	<h2>Totals</h2>

	<% @grand_total = 0 %>
	
	<% for client in @clients %>
		<div class="total">
			<h3><%= client.name %></h3>
			<p>Time: <span class="total-time"><%= calculate_total_time( client ).strftime( @time_format ) %></span></p>
			<% @c_total = calculate_total_earnt( client ) %>
			<% @grand_total += @c_total %>
			<p>Earned: <span class="total-amount">&pound;<%= '%.2f' % @c_total %></span></p>
		</div>
	<% end %>
	
	<div class="total">
		<h3>Total</h3>
		<p>Earned: <span class="total-amount grand-total">&pound;<%= '%.2f' % @grand_total %></span></p>
	</div>
	
	<% if is_admin(@user) %>
	<div class="user-controls">
		<div class="corner-tr">
		<div class="corner-tl">
		<div class="corner-br">
		<div class="corner-bl">
		<div class="inner">
			<h3>Controls</h3>
			
			<ul>
				<li><a href="/users">Manage users</a></li>
				<li><a href="/feedback">View feedback</a></li>
			</ul>
		</div>		
		</div>
		</div>
		</div>
		</div>
	</div>
	<% end %>
	
</div>
