body{
	/*background: url( '/images/body_bg.jpg' ) repeat-x;*/
	font-family: Helvetica, Verdana, Arial, sans-serif;
	background: #F6F6F6;
}

#top-bar{
	height: 8px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #d92929;
}

#banner{
	width: 1080px;
	margin: 40px auto 0px auto;	
}

#wrapper{
	width: 850px;
	margin: 50px auto 100px auto;
}

a img{
	border: none;
}

.client h1{
	font-size: 32px;
	font-weight: normal;
	width: 460px;
	position: relative;
}

#right-column{
	width: 259px;
	float: right;
	margin-left: 40px;
}

#left-column{
	width: 530px;
}

#left-column input[type=text], #left-column input[type=password], #left-column select, #left-column option{
	font-size: 26px;
	width: 100%;
	color: #222222;
}

#left-column input[type=submit]{
	font-size: 26px;
	float: right;
	padding: 5px 10px;
	background: #1f85da;
	color: #FFFFFF;
	border: none;
}

#left-column form p{
	margin-bottom: 25px;
}

#left-column label{
	color: #555555;
	display: block;
	font-size: 26px;
}

#left-column label span.small{
	font-size: 16px;
	padding-left: 10px;
}

h1{
	font-weight: normal;
	font-size: 40px;
	width: 100%;
	margin-bottom: 40px;
}
