body{
	background: url( '/images/body_bg.jpg' ) repeat-x;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

#banner{
	width: 1080px;
	margin: 40px auto 0px auto;	
}

#wrapper{
	width: 850px;
	margin: 50px auto 100px auto;
}

h1{
	font-size: 32px;
	font-weight: bold;
	width: 460px;
}

h1 span.small{
	font-size: 16px;
	color: #666666;
	font-weight: normal;
}

h1 span.edit-link{
	float: right;
	padding-top: 15px;
	display: none;
}

span.edit-link{
	font-size: 12px;
}

span.edit-link a{
	color: #d80e09;
	text-decoration: none;
}

div.entry-wrapper span.edit-link{
	float: right;
	padding-top: 1px;
	margin-right: 10px;
	display: none;
}

span.small{
	color: #666666;
	font-size: 12px;
}

div.client{
	margin-bottom: 40px;
}

div.client div.inner{
	margin-left: 25px;
}

span.value{
	float: right;
}

div.entry-wrapper span.submit{
	float: right;
	margin-right: -130px;
	padding-top: 1px;
}

div.edit-expense-form span.submit{
	float: right;
	margin-right: -68px;
	padding-top: 1px;
}

div.entry-wrapper form{
	width: 400px;
}

div.edit-form, div.edit-expense-form{
	display: none;
}

div.entry-wrapper select{
	width: 50px;
}	

p.date-select-group{
	margin: 0px 0px 3px 30px;
}

span.to-text{
	margin-left: -30px;
	float: left;
}

p.entry{
	width: 400px;
}

div.entry-wrapper{
	width: 460px;
}

input[type=text].inline{
	margin-right: 20px;
}	

span.value_input{
	float: right;
}

span.expense_submit{
	float: right;
	position: relative;
	right: -140px;
	top: 1px;
}

#timer{
	float: right;
	width: 421px;
	height: 71px;
	background: url( '/images/timer_bg.png' ) no-repeat;
	margin-top: 10px;
}

#timer .inner{
	margin-top: 24px;
	text-align: right;
	margin-right: 20px;
}

#timer .current{
	font-size: 18px;
	color: #FFFFFF;
}

#timer select, option{
	font-size: 16px;
}

#timer select{
	width: 170px;
}

#timer input[type=submit]{
	font-size: 16px;
}

#totals{
	float: right;
	width: 300px;
}

#totals h2{
	margin-top: 0px;
}

#totals h3{
	font-weight: normal;
	border-bottom: 1px solid #999999;
	width: 200px;
}

p.interval-date{
	color: #555555;
	font-style: italic;
	margin-left: -10px;
}

span.open-interval{
	font-style: italic;
	font-size: 12px;
}

div.total p{
	font-style: italic;
	font-size: 12px;
	color: #555555;
	width: 200px;
	clear: right;
	margin: 0px;
}

div.total span.total-time, div.total span.total-amount{
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	float: right;
}

p.expense-form{
	display: none;
}

p.expense-link a{
	font-size: 12px;
	text-decoration: none;
}

p.client-link{
	font-size: 14px;
	text-decoration: none;
}

#client-form{
	display: none;
}

p.new-client{
	width: 420px;
}

p.new-client .client-name input{
	font-size: 16px;
}

p.new-client .client-name{
	margin-right: 15px;
}

p.new-client .client-rate input{
	font-size: 16px;
}

p.new-client .client-rate{
	color: #666666;
}

p.new-client .client-submit{
	float: right;
	padding-top: 5px;
}

div.edit-client{
	display: none;
}

#notice{
	background: #1c9f38;
	color: #FFFFFF;
	padding: 20px;
	margin-bottom: 30px;
}