<div id="right-column">

	<div id="sign-up-box">
		<a href="/signup"><img src="/images/sign-up-box.png" alt="sign up" title="sign up" /></a>
	</div>
	
	<div id="login-box">
		<div class="inner">
			<%= form_tag :action=>'authenticate' %>
			<%= text_field("userform", "email",:size=>"20" ) %>
			<%= password_field("userform", "password",:size=>"20" ) %>
			<span><a href="/reset_password">Forgotten password?</a></span> <input type="submit" value="Login" />
			</form>
		</div>
	</div>

</div>

<div id="left-column">

	<p class="blurb">Hours is a simple time tracking system, perfect for freelancers and people who charge by the hour. It lets you easily create and manage clients, and then add both expenses and time periods to them.</p>

	<h2>Screenshots</h2>

	

</div>