<p class="blurb">No problem! Enter your email address here and we'll send you a new one.</p>

<%= form_tag :action=>'send_password' %>
	<p>
		<label>Email address</label>
		<input type="text" name="email" />
	</p>
	
	<p><input type="submit" value="Send" /></p>
</form>
