<div id="footer">
	<p>
		Hours is brought to you by <a href="http://imaginaryroots.co.uk" target="_blank">Imaginary Roots</a>.
		<a href="/about">About</a> | <a href="/feedback/submit">Tell us what you think</a> | <a href="/terms">Terms and Conditions</a> | <a href="">Blog</a>
	</p>
</div>