<div id="footer">
	<p>
		Hours is an app by <a href="http://imaginaryroots.co.uk" target="_blank">Imaginary Roots</a> | 
		<a href="/about">About</a> | <a href="/feedback/submit">Feedback</a> | <a href="/terms">Legal</a> | <a href="">Blog</a>
	</p>
</div>