<html>
	<head>
		<title>Hours - Shockingly Simple Time Tracking</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script type="text/javascript" src="/javascripts/prototype.js"></script>
		<script type="text/javascript" src="/javascripts/application.js"></script>
	</head>

	<body>
		<div id="banner">
			<img src="/images/logo.png" alt="" title="hours" />
		</div>
	
		<div id="wrapper">
			<% if flash[:notice] %>
				<p id="notice"><%= flash[:notice] %></p>
				<script type="text/javascript"> setTimeout( 'hideNotice()', 3500 ); </script>
			<% end %>
			<%= yield %>
		</div>
	</body>

</html>